
/******** 1360PX ********/
@media (max-width: 85rem) {

    .contact-informations .mini-title {
        font-size: 2.4rem ;
    }
}
/******** 1100PX ********/
@media (max-width: 69rem) {
    html {
        font-size: 60.5%;
    }
    .hero-container {
        padding: 8rem 3rem;
    }
}

/******** 1024PX ********/
@media (max-width :64rem) {
    html {
        font-size: 58%;
    }
}

/******** 930PX 77.5%********/
@media (max-width: 58.125rem) {
    html {
        font-size: 50%;
    }

    /* NAVIGATION FOR MOBILE */

    .nav-button[name="open"]{
        display: block;
    }

    .main-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh !important;
        background-color: rgba(255, 255, 255, 0.704);
        -webkit-backdrop-filter: blur(1.5rem);
        backdrop-filter: blur(1.5rem);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transition: all 0.5s ease-in;
        z-index: 1;
    }

    .main-nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;    
        gap: 4.4rem;
    }

    .main-nav-link {
        font-size: 4.4rem !important;
    }

    .open-mobile-nav .main-nav {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
        visibility: visible;
    }

    .open-mobile-nav .nav-button[name="close"] {
        display: block;
        z-index: 2;
    }

    .open-mobile-nav .nav-button[name="open"] {
        display: none;

    }


    /*  */
    .hero-description {
        font-size: 2.4rem;
    }

    .welcome-title {
        margin-bottom: 2.4rem;
    }
    .welcome-text-box .description {
        font-size: 1.8rem;
    }
    .menu-items {
        grid-template-columns: 1fr;
    }
    .mini-title {
        font-size: 3.6rem;
    }
    .mini-description {
        font-size: 2.4rem;
    }
    .menu-icon,.rating-numbers,.likes-numbers {
        font-size: 3rem;
        font-weight: 600;
    }
    .menu-price {
        font-size: 4.4rem;
    }

    .contact-informations .mini-title {
        font-size: 2rem ;
    }

    footer .mini-description {
        font-size: 1.6rem;
    }

    .about-section .nav-title {
        font-size: 3rem;
    }

    .welcome-img {
        height: 100%;
    }

    .client-icon {
        font-size: 2.4rem;
    }
    .feutures-box .mini-title {
        font-size: 2.4rem;
    }
    .offer-icon {
        font-size: 2.4rem;
    }
    
}


/******** 765PX ********/
@media (max-width: 47.82rem) {
    .heading-primary {
        font-size: 6.2rem;
    }
    
    .menu-box:hover {
        transform: scale(1);
    }
    .clients-reviews {
        gap: 2.4rem;
    }
    .clients-reviews .mini-title {
        font-size: 2rem;
    }
    .offer-icon {
        font-size: 2rem;
    }

    .heading-primary {
        font-size: 5.2rem;
    }
    .heading-secondary {
        font-size: 6.2rem;
    }

    .mini-description {
        padding: 2rem;
    }

    .clients-reviews{
        grid-template-columns: 1fr;
    }

    blockquote{
        padding: 2rem;
    }
    /* offers */
    .pre-title {
        font-size: 2.4rem;
    }
    .offers-container {
        grid-template-columns: 1fr 1fr;
    }
    
    .center-offer {
        grid-column: 1/3;
        display: grid;
        align-items: center;
        justify-items: center;
    }
    .center-offer .offer-box {
        width: 50%;
    }


    .offer-text-box .mini-description {
        font-size: 2.4rem;
    }
    .price {
        font-size: 3.6rem;
    }
    .btn--reserve {
        font-size: 3.6rem;
    }
    .offer-icon {
        font-size: 3.6rem;
    }
    .offer-box:hover {
        transform:none;
    }

    .contact-us-container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .form-img-box {
        grid-row: 1;
        height: 44rem;
        background-position: bottom;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
    }

    .contact-us-form .heading-secondary {
        font-size: 4.4rem;
    }

    /* footer */
    .footer-bar {
        gap: 4.4rem;
    }

    .footer-bar .nav-title {
        font-size: 2rem;
    }
    .about-section .mini-description {
        padding: 0;
    }
    .contact-section {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .contact-informations {
        padding: 0;
    }
}


/******** 750PX ********/
@media (max-width: 40rem) {

    .section-welcome {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .welcome-text-box .description{
        font-size: 2.4rem;
    }

    .welcome-img{
        justify-self: center;
    }

    .feutures-section {
        grid-template-columns: 1fr;
    }
    .feutures-section .mini-description {
        padding: 1.6rem;
    }

    .menu-box {
        grid-template-columns: 1fr;
    }

    .menu-text-box {
        text-align: center;
    }

    .offers-container {
        grid-template-columns: 1fr;
        gap: 0;
        row-gap: 4.4rem;
    }

    .offer-box {
        grid-column: -1/1;
    }
    .center-offer {
        display: block;
    }
    
    .center-offer .offer-box {
        width: 100%;
    }
}

/******** 552PX ********/
@media (max-width: 34.5rem) {
    html {
        font-size: 45%;
    }
    .hero-container {
        gap: 3.2rem;
        padding: 6.4rem 3rem;
    }
    .heading-primary{
        font-size: 4rem;
    }

    .heading-secondary {
        font-size: 3rem;
    }

    .pre-title {
        font-size: 1.8rem;
    }

}

@media (max-width: 24.5rem) {
    html {
        font-size: 35%;
    }
}